*~
frontends/riscos/appdir/!Run,feb
frontends/riscos/appdir/!RunImage,ff8
frontends/riscos/appdir/!Help,feb
frontends/riscos/appdir/Resources/en/Templates,fec
frontends/riscos/appdir/Resources/fr/Templates,fec
frontends/riscos/appdir/Resources/de/Templates,fec
frontends/riscos/appdir/Resources/nl/Templates,fec
resources/*/Messages
frontends/gtk/res/*/Messages
frontends/windows/res/*/Messages
codedocs
nsgtk
nsgtk3
nsfb
nsmonkey
nsdebug
Makefile.config
NetSurf.exe
netsurf-installer.exe
NetSurf.app
NetSurf.dbg
NetSurf.dmg
NetSurf
core
nsfb-*
build
