*~
gtk/res/toolbarIndices
windows/res/preferences
!NetSurf/!Run,feb
!NetSurf/!RunImage,ff8
!NetSurf/Resources/en/Templates,fec
!NetSurf/Resources/fr/Templates,fec
!NetSurf/Resources/de/Templates,fec
!NetSurf/Resources/nl/Templates,fec
test/nsurl
test/urldbtest
test/llcache
utils/translit.c
utils/testament.h
codedocs
nsgtk
nsfb
nsmonkey
nsdebug
Makefile.config
NetSurf.exe
NetSurf.app
NetSurf.dbg
NetSurf.dmg
NetSurf
core
nsfb-*
build-*
