*~
frontends/riscos/appdir/!Run,feb
frontends/riscos/appdir/!RunImage,ff8
frontends/riscos/appdir/!Help,feb
frontends/riscos/appdir/Resources/en/Templates,fec
frontends/riscos/appdir/Resources/fr/Templates,fec
frontends/riscos/appdir/Resources/de/Templates,fec
frontends/riscos/appdir/Resources/nl/Templates,fec
resources/en/Messages
resources/fr/Messages
resources/de/Messages
resources/nl/Messages
resources/it/Messages
frontends/gtk/res/en/Messages
frontends/gtk/res/fr/Messages
frontends/gtk/res/de/Messages
frontends/gtk/res/nl/Messages
frontends/gtk/res/it/Messages
codedocs
nsgtk
nsfb
nsmonkey
nsdebug
Makefile.config
NetSurf.exe
netsurf-installer.exe
NetSurf.app
NetSurf.dbg
NetSurf.dmg
NetSurf
core
nsfb-*
build
