#
# NetSurf build configuration example
#
#
# To configure NetSurf's build options create a Makefile.config file. This is
# an example Makefile.config.
#
# To see the available config options, look at Makefile.defaults


# For example, by default, NetSurf builds with BMP support.  If you
# wish to disable this, then uncomment the following line.

# override NETSURF_USE_BMP := NO
