INSTALL_PATH = $(HOME)/Applications
INFOPLIST_FILE = res/NetSurf-Info.plist
GCC_PREFIX_HEADER = Prefix.pch
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_MODEL_TUNING = G5
ALWAYS_SEARCH_USER_PATHS = NO
PRODUCT_NAME = NetSurf

LOCAL_CONFIG_CFLAGS		=	-I/usr/local/include -I/usr/include/libxml2
LOCAL_CONFIG_LDFLAGS	=	-L/usr/local/lib -lxml2 -lz -lpthread -licucore -lm -lssl -lhubbub -lcss -lcrypto -lparserutils -lwapcaplet -liconv -lcurl

#include "local.xcconfig"

OTHER_LDFLAGS = $(inherited) $(LOCAL_CONFIG_LDFLAGS)
OTHER_CFLAGS = $(inherited) $(LOCAL_CONFIG_CFLAGS)
