name: "Static Analysis"

on: [push]

jobs:
  codeql:
    name: codeql
    runs-on: ubuntu-22.04

    strategy:
      fail-fast: false
      matrix:
        language: ['cpp']

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
      with:
        fetch-depth: 1

    - name: apt-get install packages
      run: sudo apt-get update -qq &&
           sudo apt-get install --no-install-recommends -y
               bison
               build-essential
               ccache
               flex
               git
               gperf
               libcurl4-openssl-dev
               libgtk-3-dev
               libhtml-parser-perl
               libjpeg-dev
               libpng-dev
               librsvg2-dev
               libutf8proc-dev
               pkg-config

    - name: ccache
      uses: hendrikmuhs/ccache-action@v1.2
      with:
        key: ${{ github.job }}
        max-size: 128M

    - name: Build and install project libs
      env:
        REPO_BASE_URI: https://github.com/netsurf-browser
      run: |
          export TARGET_WORKSPACE="$(pwd)/projects"
          source docs/env.sh
          ns-clone -d -s -b ${GITHUB_REF_NAME}
          ns-make-tools install
          ns-make-libs install

    - name: Initialize CodeQL
      uses: github/codeql-action/init@v4
      with:
        languages: ${{ matrix.language }}

    - name: Build NetSurf
      run: |
          export TARGET_WORKSPACE="$(pwd)/projects"
          source docs/env.sh
          make -j"$(nproc)"

    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@v4
