name: "test"

on: [push]

jobs:
  pull:
    name: '${{ matrix.toolchain }}'
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        toolchain:
          - arm-riscos-gnueabi
          - arm-unknown-riscos
          - i686-w64-mingw32
          - m5475-atari-mint
          - m68k-atari-mint
          - m68k-unknown-amigaos
          - ppc-amigaos
          - x86_64-w64-mingw32

    steps:
    - name: Checkout repository
      uses: actions/checkout@v5
      with:
        fetch-depth: 1

    - name: Download artifact
      uses: actions/download-artifact@v7
      with:
        name: ${{ matrix.toolchain }}
        repository: netsurf/toolchains

    - name: Check ls
      run: ls -l ${{ matrix.toolchain }}.tar.gz
